[defaults]
inventory = /data/ansible/inventory
remote_user = itadmin
private_key_file = ~/.ssh/id_rsa
forks = 5
host_key_checking = False
stdout_callback = ansible.builtin.default
callback_result_format = yaml
interpreter_python = auto_silent
timeout = 30
remote_tmp = ~/.ansible/tmp
#log_path = /var/log/ansible.log

[all:vars]
#ansible_python_interpreter=/usr/bin/python3

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
